{
  "env": {
    "mocha": true,
  },
  "globals": {
    "expect": false,
    "THREE": false,
    "Vue": false,
    "VueGL": false,
  },
  "plugins": [
    "mocha",
  ],
  "rules": {
    "prefer-arrow-callback": ["error", { "allowNamedFunctions": true }],
    "mocha/no-mocha-arrows": "error",
    "mocha/handle-done-callback": "error",
    "mocha/max-top-level-suites": "error",
    "mocha/no-exclusive-tests": "warn",
    "mocha/no-global-tests": "error",
    "mocha/no-identical-title": "error",
    "mocha/no-nested-tests": "error",
    "mocha/no-pending-tests": "warn",
    "mocha/no-return-and-callback": "error",
    "mocha/no-sibling-hooks": "error",
    "mocha/no-skipped-tests": "warn",
    "mocha/no-top-level-hooks": "error",
    "mocha/no-synchronous-tests": "error",
  },
}