{
  "ignorePatterns": "!docs/.vuepress",
  "extends": [
    "airbnb-base",
    "plugin:markdown/recommended"
  ],
  "overrides": [{
    "files": ["*.vue"],
    "extends": ["plugin:vue/recommended"]
  }, {
    "files": ["docs/**", "src/**/*.vue"],
    "rules": {
      "import/no-unresolved": [
        "error", {"commonjs": true, "caseSensitive": true, "ignore": ["vue-gl"]}
      ]
    }
  }]
}
