version: 2
jobs:
  checkout:
    docker:
      - image: circleci/node:lts
    steps:
      - checkout
      - persist_to_workspace:
          root: .
          paths:
            - .
  dependencies:
    docker:
      - image: circleci/node:lts
    steps:
      - attach_workspace:
          at: .
      - restore_cache:
          keys:
            - yarn-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn
      - save_cache:
          key: yarn-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
      - persist_to_workspace:
          root: .
          paths:
            - .
  lint:
    docker:
      - image: circleci/node:lts
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Lint
          command: yarn lint
  lint_md:
    docker:
      - image: circleci/node:lts
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Lint documents
          command: yarn lint:md
  unit_test:
    docker:
      - image: circleci/node:lts
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Run unit tests
          command: yarn test --coverage --coverage-directory=coverage
      - persist_to_workspace:
          root: .
          paths:
            - coverage
  report_coverage:
    docker:
      - image: circleci/node:lts
    steps:
      - attach_workspace:
          at: .
      - run:
          name: Install reporting tool
          command: npm install codecov
      - run:
          name: Report coverage
          command: codecov
workflows:
  version: 2
  before_merge:
    jobs:
      - checkout:
          filters:
            branches:
              ignore:
                - gh-pages
      - dependencies:
          requires:
            - checkout
      - lint:
          requires:
            - dependencies
      - lint_md:
          requires:
            - dependencies
      - unit_test:
          requires:
            - dependencies
      - report_coverage:
          requires:
            - unit_test
