version: 2
jobs:
    build:
        docker:
            - image: circleci/node:latest-browsers
        steps:
            - checkout
            - restore_cache:
                keys:
                    - yarn-{{ checksum "yarn.lock" }}
            - run:
                name: Install dependencies
                command: yarn
            - save_cache:
                key: yarn-{{ checksum "yarn.lock" }}
                paths:
                    - ~/.cache/yarn
            - run:
                name: Run unit tests
                command: yarn test
            - run:
                name: Report the coverage
                command: sudo npm i -g codecov && codecov
            - run:
                name: Report the coverage
                command: npm i codacy-coverage && cat "coverage/$(ls -rt coverage | tail -n 1)/lcov.info" | ./node_modules/.bin/codacy-coverage
            - store_test_results:
                path: junit
            - store_artifacts:
                path: coverage
                destination: coverage
